  <div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de usuarios</h3>
    <form (ngSubmit)="onSubmit()" #userForm = "ngForm">
      <div class="form-group">
        <label>Username: </label>
        <input type="text" class="form-control"
        id="userName"
        [(ngModel)]="usuario.userName"
        name="userName"
        required
        minlength="4"
        maxlength="15"
        #userName = "ngModel">
        <div class="alert alert-danger" *ngIf="userName.invalid && (userName.dirty || userName.touched)">
          <div *ngIf="userName.errors">
            El nombre de usuario es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Nombre: </label>
        <input type="text" class="form-control"
        id="name"
        [(ngModel)]="usuario.name"
        name="name"      required
        minlength="4"
        maxlength="15"
        #name = "ngModel">      <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors">
            El nombre es obligatorio.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Apellidos: </label>
        <input type="text" class="form-control"
        id="lastName"
        [(ngModel)]="usuario.lastName"
        name="lastName" required
        #lastName = "ngModel"><div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
          <div *ngIf="lastName.errors">
            Los apellidos son obligatorios.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Email: </label>
        <input type="email" class="form-control"
        id="email"
        [(ngModel)]="usuario.email"
        name="email"required
        pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
        #email = "ngModel"><div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors">
            El email es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Contraseña: </label>
        <input type="password" class="form-control"
        id="password"
        [(ngModel)]="usuario.password"
        name="password"required
        minlength="4"
        #password = "ngModel"><div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors">
            La contraseña es obligatoria.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Dirección: </label>
        <input type="text" class="form-control"
        id="address"
        [(ngModel)]="usuario.address"
        name="address"required
        minlength="4"
        #address = "ngModel"><div class="alert alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
          <div *ngIf="address.errors">
            La dirección es obligatoria.
          </div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="checkbox" value="" id="admin" [(ngModel)]="usuario.admin"
        name="admin"
        #admin = "ngModel">
        <label>
          Administrador
        </label>
      </div>

      <br>

      <button class="btn btn-success"  [disabled]="!userForm.form.valid">Guardar</button>
    </form>
  </div>
